# Node.js dependencies
node_modules/
package-lock.json

# npx caches
.npx/

# Build output
main.wasm
build/

# AWS Lambda packaged deployment
*.zip

# Logs and databases
*.log
*.sqlite

# Environment configurations
.env

# OS specific files
.DS_Store    # macOS
Thumbs.db    # Windows
desktop.ini  # Windows

# Editors
.vscode/
.idea/
*.swp       # Vim
*.swo       # Vim
*.bak       # Various editors
*.save      # Various editors
*.backup    # Various editors
*.patch     # Various editors
*.rej       # Various editors
*.orig      # Various editors
